[submodule "refs/pi-web"]
	path = refs/pi-web
	url = https://github.com/agegr/pi-web
[submodule "refs/pi-gui"]
	path = refs/pi-gui
	url = https://github.com/minghinmatthewlam/pi-gui
[submodule "refs/t3code"]
	path = refs/t3code
	url = https://github.com/pingdotgg/t3code
[submodule "refs/oh-my-pi"]
	path = refs/oh-my-pi
	url = https://github.com/can1357/oh-my-pi.git
[submodule "packages/pho-agent"]
	path = packages/pho-agent
	url = https://github.com/vietfood/pho-agent.git
